html {
	height: 100%;
}

body {
/*	background: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e480962c9c0c092d7b006c04a9e2ab24&auto=format&fit=crop&w=1549&q=80);
*/	
	background: url("background_image3.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	font-family: Lato;
}

#content {
	text-align: center;
	padding-top: 18%;
	color: black;
	text-shadow: 1px 1px 1px rgba(250,250,250,1),
				 1px 8px 13px rgba(250,250,250,0.1),
				 1px 18px 23px rgba(250,250,250,0.1);
}

#content-2 {
	text-align: center;
	padding-top: 8%;
}

.display-6 {
	font-size: 1rem;
}

h1 {
	text-shadow: 1px 1px 1px rgba(250,250,250,1),
				 1px 8px 13px rgba(250,250,250,0.1),
				 1px 18px 23px rgba(250,250,250,0.1);
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rbga(0,0,0,0.2);
}

#content a, #content-2 a {
  text-decoration: none;
  color: #3a3a3a;
}

#content a:hover, #content-2 a:hover {
  font-weight: bold;
  color: black;
}

#client_list {
	text-shadow: 1px 1px 1px rgba(220,220,220,0.8),
				 1px 8px 13px rgba(220,220,220,0.5),
				 1px 18px 23px rgba(220,220,220,0.3);
}

img {
	height: auto;
	width: 320px;
	margin-top: 10px;
}